<body class='homepagebg'>
<div class='socialmedia'>
<ul>
<li>
<a href='https://www.facebook.com/XtremeDestinations' target='_blank'></a>
</li>
<li>
<a href='https://twitter.com/XDestinations' target='_blank'></a>
</li>
<li>
<a href='http://instagram.com/xtremedestinations' target='_blank'></a>
</li>
</ul>
</div>
<div class='OuterWraper homepage'>
<!-- %img.rope{src: "/assets/rope.png"}/ -->
<div class='mobileheader'>
<a class='mobilelogo' href='http://x-d.in/'>
<img class='imgHeadLogo' src='/assets/main_logo.png' width='60'>
</a>
<div class='dl-menuwrapper' id='dl-menu'>
<button class='dl-trigger'>Open Menu</button>
<ul class='dl-menu'>
<li>
<a href='/cities/2'>north island</a>
</li>
<!-- %ul -->
<!-- - if Destination.count > 0 -->
<!-- - for city in Destination.first.cities -->
<!-- %li -->
<!-- %a{href: city_path(city), target: "_blank"} #{city.name} -->
<li>
<a href='/cities/16'>south island</a>
</li>
<!-- %ul -->
<!-- - if Destination.count > 0 -->
<!-- - for city in Destination.find(2).cities -->
<!-- %li -->
<!-- %a{href: city_path(city), target: "_blank"} #{city.name} -->
<li>
<a href='/activities'>activities</a>
<!-- %ul -->
<!-- - for activity in Activity.all -->
<!-- %li -->
<!-- %a{href: activity_path(activity), target: "_blank"} #{activity.name} -->
</li>
<li>
<a href='/hotels'>hotels</a>
<!-- %ul -->
<!-- - for hotel in Hotel.all -->
<!-- %li -->
<!-- %a{href: hotel_path(hotel), target: "_blank"} #{hotel.name} -->
<!-- %li -->
<!-- %a{href: attractions_path} attractions -->
<!-- %ul -->
<!-- - for attraction in Attraction.all -->
<!-- %li -->
<!-- %a{href: attraction_path(attraction), target: "_blank"} #{attraction.name} -->
</li>
<li>
<a href='/extreme_luxuries'>xtreme luxury</a>
</li>
</ul>
</div>
<div class='clear'></div>
</div>

<div class='divHeaderContainer'>
<div class='wraper divHeader'>
<a href='http://x-d.in/'>
<img class='imgHeadLogo' src='/assets/main_logo.png'>
</a>
<ul class='ulTopMenu' id='menu'>
<li>
<a href='/cities/2'>north island</a>
</li>
<!-- %ul -->
<!-- - if Destination.count > 0 -->
<!-- - for city in Destination.first.cities -->
<!-- %li -->
<!-- %a{href: city_path(city), target: "_blank"} #{city.name} -->
<li>
<a href='/cities/16'>south island</a>
</li>
<!-- %ul -->
<!-- - if Destination.count > 0 -->
<!-- - for city in Destination.find(2).cities -->
<!-- %li -->
<!-- %a{href: city_path(city), target: "_blank"} #{city.name} -->
<li>
<a href='/activities'>activities</a>
<!-- %ul -->
<!-- - for activity in Activity.all -->
<!-- %li -->
<!-- %a{href: activity_path(activity), target: "_blank"} #{activity.name} -->
</li>
<li>
<a href='/hotels'>hotels</a>
<!-- %ul -->
<!-- - for hotel in Hotel.all -->
<!-- %li -->
<!-- %a{href: hotel_path(hotel), target: "_blank"} #{hotel.name} -->
<!-- %li -->
<!-- %a{href: attractions_path} attractions -->
<!-- %ul -->
<!-- - for attraction in Attraction.all -->
<!-- %li -->
<!-- %a{href: attraction_path(attraction), target: "_blank"} #{attraction.name} -->
</li>
<li>
<a href='/extreme_luxuries'>xtreme luxury</a>
</li>
</ul>
</div>

</div>
<div class='homepagecontent'>
<h1 class='topheading'>
It's my idea of what
<br>
heaven would be
<br>
<img src='/assets/ray.png'>
<img class='kia-vora' src='/assets/kia-vora.png'>
</h1>
<img class='newzealand' src='/assets/newziland.png'>
<div class='islandCnt'>
<a class='north' href='/cities'>
<img src='/assets/north-island.png'>
</a>
<a class='south' href='/cities'>
<img src='/assets/south-island.png'>
</a>
<div class='clear'></div>
</div>
<div class='sliderCnt'>
<h2>
<img src='/assets/adventure-activities-heading.png'>
</h2>
<div class='advancedscroller-con'>
<div class='advancedscroller skin-inset' id='as2' style='width:100%;'>
<div class='preloader'></div>
<ul class='items'>
<li class='item-tobe needs-loading'>
<img class='fullwidthhome' src='http://s3.amazonaws.com/travelxd/home_banners/banner/1/original/Agro.png?1407223046'>
</li>
<li class='item-tobe needs-loading'>
<img class='fullwidthhome' src='http://s3.amazonaws.com/travelxd/home_banners/banner/4/original/bungy.png?1407219227'>
</li>
<li class='item-tobe needs-loading'>
<img class='fullwidthhome' src='http://s3.amazonaws.com/travelxd/home_banners/banner/5/original/Ziptrek.png?1407220126'>
</li>
<li class='item-tobe needs-loading'>
<img class='fullwidthhome' src='http://s3.amazonaws.com/travelxd/home_banners/banner/6/original/Sky-Diving.png?1407223074'>
</li>
</ul>
</div>
</div>
</div>
<div class='aboutCnt'>
<h2>
<img src='/assets/home-about-heading.png'>
</h2>
<p>
Xtreme Destinations Pvt. Ltd is specialized in custom and tailor made tours only to New Zealand. Our complete focus and development stays in developing the India- New Zealand Tourism. Founded by Mr. Bhaven Kenia, Mr. Chintan Kayani and Mrs. Vaishali Shah out of sheer passion for travelling.
</p>
</div>
<div class='clear'></div>
</div>

</div>
</div>
<script>
  jQuery(document).ready(function($){
        
      dzsas_init("#astest ,#astest2 , #astest3",{
          settings_swipe: "on"
          ,design_arrowsize: "0"
          ,design_itemwidth: "160"
      });
      dzsas_init("#as2",{
          settings_mode: "onlyoneitem"
          ,design_arrowsize: "0"
          ,settings_swipe: "on"
          ,settings_swipeOnDesktopsToo: "off"
          ,settings_slideshow: "on"
          ,settings_slideshowTime: "300"
          ,settings_autoHeight:'on'
          ,design_itemwidth: "1200"
      });
      
      
      /*
       $("#as1").advancedscroller({
       settings_swipe: "on"
       ,design_arrowsize: "0"
       });
      $("#as3").advancedscroller({
          settings_swipe: "on"
          ,design_arrowsize: "0"
      });
       $("astest").advancedscroller({
       settings_swipe: "on"
       ,design_arrowsize: "0"
       });
      $("#as2").advancedscroller();
          */
      $( '#dl-menu' ).dlmenu();
      
      /*fancybox calling */
      
      $('.fancybox-media')
        .attr('rel', 'media-gallery')
        .fancybox({
        openEffect : 'none',
        closeEffect : 'none',
        prevEffect : 'none',
        nextEffect : 'none',
        arrows : false,
        helpers : {
        media : {},
        buttons : {}
        }
        }); 
      
  });
</script>