<div class='socialmedia'>
<ul>
<li>
<a href='https://www.facebook.com/XtremeDestinations' target='_blank'></a>
</li>
<li>
<a href='https://twitter.com/XDestinations' target='_blank'></a>
</li>
<li>
<a href='http://instagram.com/xtremedestinations' target='_blank'></a>
</li>
</ul>
</div>
<div class='OuterWraper'>
<div class='mobileheader'>
<a class='mobilelogo' href='http://x-d.in/'>
<img class='imgHeadLogo' src='/assets/main_logo.png' width='60'>
</a>
<div class='dl-menuwrapper' id='dl-menu'>
<button class='dl-trigger'>Open Menu</button>
<ul class='dl-menu'>
<li>
<a href='/cities/2'>north island</a>
</li>
<!-- %ul -->
<!-- - if Destination.count > 0 -->
<!-- - for city in Destination.first.cities -->
<!-- %li -->
<!-- %a{href: city_path(city), target: "_blank"} #{city.name} -->
<li>
<a href='/cities/16'>south island</a>
</li>
<!-- %ul -->
<!-- - if Destination.count > 0 -->
<!-- - for city in Destination.find(2).cities -->
<!-- %li -->
<!-- %a{href: city_path(city), target: "_blank"} #{city.name} -->
<li>
<a href='/activities'>activities</a>
<!-- %ul -->
<!-- - for activity in Activity.all -->
<!-- %li -->
<!-- %a{href: activity_path(activity), target: "_blank"} #{activity.name} -->
</li>
<li>
<a href='/hotels'>hotels</a>
<!-- %ul -->
<!-- - for hotel in Hotel.all -->
<!-- %li -->
<!-- %a{href: hotel_path(hotel), target: "_blank"} #{hotel.name} -->
<!-- %li -->
<!-- %a{href: attractions_path} attractions -->
<!-- %ul -->
<!-- - for attraction in Attraction.all -->
<!-- %li -->
<!-- %a{href: attraction_path(attraction), target: "_blank"} #{attraction.name} -->
</li>
<li>
<a href='/extreme_luxuries'>xtreme luxury</a>
</li>
</ul>
</div>
<div class='clear'></div>
</div>

<div class='divHeaderContainer'>
<div class='wraper divHeader'>
<a href='http://x-d.in/'>
<img class='imgHeadLogo' src='/assets/main_logo.png'>
</a>
<ul class='ulTopMenu' id='menu'>
<li>
<a href='/cities/2'>north island</a>
</li>
<!-- %ul -->
<!-- - if Destination.count > 0 -->
<!-- - for city in Destination.first.cities -->
<!-- %li -->
<!-- %a{href: city_path(city), target: "_blank"} #{city.name} -->
<li>
<a href='/cities/16'>south island</a>
</li>
<!-- %ul -->
<!-- - if Destination.count > 0 -->
<!-- - for city in Destination.find(2).cities -->
<!-- %li -->
<!-- %a{href: city_path(city), target: "_blank"} #{city.name} -->
<li>
<a href='/activities'>activities</a>
<!-- %ul -->
<!-- - for activity in Activity.all -->
<!-- %li -->
<!-- %a{href: activity_path(activity), target: "_blank"} #{activity.name} -->
</li>
<li>
<a href='/hotels'>hotels</a>
<!-- %ul -->
<!-- - for hotel in Hotel.all -->
<!-- %li -->
<!-- %a{href: hotel_path(hotel), target: "_blank"} #{hotel.name} -->
<!-- %li -->
<!-- %a{href: attractions_path} attractions -->
<!-- %ul -->
<!-- - for attraction in Attraction.all -->
<!-- %li -->
<!-- %a{href: attraction_path(attraction), target: "_blank"} #{attraction.name} -->
</li>
<li>
<a href='/extreme_luxuries'>xtreme luxury</a>
</li>
</ul>
</div>

</div>
<div class='signInformCnt'>
<h2>Sign In</h2>
<form accept-charset="UTF-8" action="/users/sign_in" class="new_user" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="oGSvnEPi3ZrnFxFoEFI+h9TCle8yiO4lnc0jZOlnMm4=" /></div><div class='rowCnt' style='margin:0;padding:0;display:inline'>
<input name='utf8' type='hidden' value='✓'>
<input name='authenticity_token' type='hidden' value='XNDMjzxeUoNqCTqfLS7T56LGtxo3dqY2tEqgB58fo7k='>
</div>
<div class='rowCnt'>
<label for='user_email'>Email</label>
<br>
<input autofocus='autofocus' id='user_email' name='user[email]' size='30' type='email' value=''>
</div>
<div class='rowCnt'>
<label for='user_password'>Password</label>
<br>
<input autocomplete='off' id='user_password' name='user[password]' size='30' type='password'>
</div>
<div class='rowCnt'>
<input name='user[remember_me]' type='hidden' value='0'>
<input id='user_remember_me' name='user[remember_me]' type='checkbox' value='1'>
<label for='user_remember_me'>Remember me</label>
</div>
<div class='rowCnt'>
<input name='commit' type='submit' value='Sign in'>
</div>
</form>

<a href='/users/sign_up'>Sign up</a>
<br>
<a href='/users/password/new'>Forgot your password?</a>
<br>
</div>

</div>
<img class='footerimage' src='/assets/Footer_bldg.jpg'>
<div class='footer'>
<div class='wraper'>
<div class='footerlist'>
<h1 class='green'>north island</h1>
<div class='northislandShort'>
<ul>
<li>
<a href='/cities/15'>Whanganui</a>
</li>
<li>
<a href='/cities/14'> Wellington</a>
</li>
<li>
<a href='/cities/13'>Wairarapa</a>
</li>
<li>
<a href='/cities/12'>Taranaki</a>
</li>
<li>
<a href='/cities/11'>Ruapehu</a>
</li>
</ul>
<a class='moreLink' href='javascript:void(0);' onclick="toggle('northislandShort', 'northislandLong')">More ...</a>
</div>
<div class='northislandLong' style='display:none;'>
<ul>
<li>
<a href='/cities/15'>Whanganui</a>
</li>
<li>
<a href='/cities/14'> Wellington</a>
</li>
<li>
<a href='/cities/13'>Wairarapa</a>
</li>
<li>
<a href='/cities/12'>Taranaki</a>
</li>
<li>
<a href='/cities/11'>Ruapehu</a>
</li>
<li>
<a href='/cities/10'>Rotorua</a>
</li>
<li>
<a href='/cities/9'>Lake Taupo</a>
</li>
<li>
<a href='/cities/8'>Hawke's Bay</a>
</li>
<li>
<a href='/cities/7'>Hamilton - Waikato</a>
</li>
<li>
<a href='/cities/6'>The Coromandel</a>
</li>
<li>
<a href='/cities/5'>Bay of Plenty</a>
</li>
<li>
<a href='/cities/4'>Northland and Bay of Island</a>
</li>
<li>
<a href='/cities/2'>AUCKLAND</a>
</li>
</ul>
<a class='moreLink' href='javascript:void(0);' onclick="toggle('northislandLong', 'northislandShort')">Less ...</a>
</div>
</div>
<div class='footerlist'>
<h1 class='blue'>south island</h1>
<div class='southislandShort'>
<ul>
<li>
<a href='/cities/28'>Stewart Island - Rakiura</a>
</li>
<li>
<a href='/cities/27'>West Coast</a>
</li>
<li>
<a href='/cities/26'>Waitaki</a>
</li>
<li>
<a href='/cities/25'>Southland</a>
</li>
<li>
<a href='/cities/24'>Queenstown</a>
</li>
</ul>
<a class='moreLink' href='javascript:void(0);' onclick="toggle('southislandShort', 'southislandLong')">More ...</a>
</div>
<div class='southislandLong' style='display:none;'>
<ul>
<li>
<a href='/cities/28'>Stewart Island - Rakiura</a>
</li>
<li>
<a href='/cities/27'>West Coast</a>
</li>
<li>
<a href='/cities/26'>Waitaki</a>
</li>
<li>
<a href='/cities/25'>Southland</a>
</li>
<li>
<a href='/cities/24'>Queenstown</a>
</li>
<li>
<a href='/cities/23'>Nelson</a>
</li>
<li>
<a href='/cities/22'>Marlborough</a>
</li>
<li>
<a href='/cities/21'>Lake Wanaka</a>
</li>
<li>
<a href='/cities/20'>Fiordland</a>
</li>
<li>
<a href='/cities/19'>Dunedin</a>
</li>
<li>
<a href='/cities/18'>Clutha</a>
</li>
<li>
<a href='/cities/17'>Christchurch - Canterbury</a>
</li>
<li>
<a href='/cities/16'>Central Otago</a>
</li>
</ul>
<a class='moreLink' href='javascript:void(0);' onclick="toggle('southislandLong', 'southislandShort')">Less ...</a>
</div>
</div>
<div class='footerlist'>
<h1 class='green'>activities</h1>
<div class='activitiesShort'>
<ul>
<li>
<a href='/activities/26'>Shotover Canyon Swing</a>
</li>
<li>
<a href='/activities/24'>Doubtful Sound Wilderness Cruises</a>
</li>
<li>
<a href='/activities/23'>Southern Discoveries</a>
</li>
<li>
<a href='/activities/22'>FlyBoard</a>
</li>
</ul>
<a class='moreLink' href='javascript:void(0);' onclick="toggle('activitiesShort', 'activitiesLong')">More ...</a>
</div>
<div class='activitiesLong' style='display:none;'>
<ul>
<li>
<a href='/activities/26'>Shotover Canyon Swing</a>
</li>
<li>
<a href='/activities/24'>Doubtful Sound Wilderness Cruises</a>
</li>
<li>
<a href='/activities/23'>Southern Discoveries</a>
</li>
<li>
<a href='/activities/22'>FlyBoard</a>
</li>
<li>
<a href='/activities/21'>The Helicopter Line Queenstown</a>
</li>
<li>
<a href='/activities/20'>Milford Sound Coach &amp; Cruise - Real Journeys</a>
</li>
<li>
<a href='/activities/19'>Safari of the Scenes - Wakatipu</a>
</li>
<li>
<a href='/activities/18'>Taupo Skydive</a>
</li>
<li>
<a href='/activities/17'>Skydive Auckland</a>
</li>
<li>
<a href='/activities/16'>Glacier Explorer Mt.Cook</a>
</li>
<li>
<a href='/activities/15'>Te Puia Experience Rotorua</a>
</li>
<li>
<a href='/activities/14'>Polynesian Spa</a>
</li>
<li>
<a href='/activities/13'>Agroventures</a>
</li>
<li>
<a href='/activities/12'>Sky Jump/Walk</a>
</li>
<li>
<a href='/activities/11'>Waitomo Glowworm Caves</a>
</li>
<li>
<a href='/activities/10'>Kaitaki Adventures</a>
</li>
<li>
<a href='/activities/9'>OGO</a>
</li>
<li>
<a href='/activities/8'>Shotover Jet </a>
</li>
<li>
<a href='/activities/7'>Ziptrek Queenstown</a>
</li>
<li>
<a href='/activities/6'>Bungy - AJ Hackett</a>
</li>
<li>
<a href='/activities/3'>NZone Sky Dive</a>
</li>
</ul>
<a class='moreLink' href='javascript:void(0);' onclick="toggle('activitiesLong', 'activitiesShort')">Less ...</a>
</div>
</div>
<div class='footerlist'>
<h1 class='blue'>hotels</h1>
<div class='hotelsShort'>
<ul>
<li>
<a href='/hotels/33'>Millennium Hotel Queenstown</a>
</li>
<li>
<a href='/hotels/31'>Peppers Beacon</a>
</li>
<li>
<a href='/hotels/30'>Heritage Queenstown</a>
</li>
<li>
<a href='/hotels/29'>Peppers Awaroa Lodge</a>
</li>
</ul>
<a class='moreLink' href='javascript:void(0);' onclick="toggle('hotelsShort', 'hotelsLong')">More ...</a>
</div>
<div class='hotelsLong' style='display:none;'>
<ul>
<li>
<a href='/hotels/33'>Millennium Hotel Queenstown</a>
</li>
<li>
<a href='/hotels/31'>Peppers Beacon</a>
</li>
<li>
<a href='/hotels/30'>Heritage Queenstown</a>
</li>
<li>
<a href='/hotels/29'>Peppers Awaroa Lodge</a>
</li>
<li>
<a href='/hotels/28'>Grand Mercure Nelson Monaco</a>
</li>
<li>
<a href='/hotels/26'>The White Morph - Heritage Boutique Collection</a>
</li>
<li>
<a href='/hotels/27'>Lake Tekapo Scenic Resort</a>
</li>
<li>
<a href='/hotels/24'>Peppers Bluewater Resort</a>
</li>
<li>
<a href='/hotels/23'>Novotel Christchurch Cathedral Square</a>
</li>
<li>
<a href='/hotels/21'>Sudima Christchurch Airport</a>
</li>
<li>
<a href='/hotels/20'>Peppers Clearwater Resort</a>
</li>
<li>
<a href='/hotels/19'>CQ Quality Hotel Wellington</a>
</li>
<li>
<a href='/hotels/18'>Sudima Lake Rotorua</a>
</li>
<li>
<a href='/hotels/17'>InterContinental Wellington</a>
</li>
<li>
<a href='/hotels/16'>Millennium Hotel Rotorua</a>
</li>
<li>
<a href='/hotels/15'>Novotel Rotorua Lakeside</a>
</li>
<li>
<a href='/hotels/13'>Pacific Harbour Lodge</a>
</li>
<li>
<a href='/hotels/12'>The Waterfront Suites Bay of Islands - Heritage Boutique Collection</a>
</li>
<li>
<a href='/hotels/11'>Sea Spray Suites</a>
</li>
<li>
<a href='/hotels/10'>Copthorne Hotel and Resort Bay of Islands</a>
</li>
<li>
<a href='/hotels/9'>Mercure Auckland</a>
</li>
<li>
<a href='/hotels/8'>Copthorne Hotel Auckland HarbourCity</a>
</li>
<li>
<a href='/hotels/7'>Sudima Auckland Airport</a>
</li>
<li>
<a href='/hotels/6'>SKYCITY Hotel</a>
</li>
<li>
<a href='/hotels/5'>SKYCITY Grand Hotel</a>
</li>
<li>
<a href='/hotels/4'>Heritage Auckland</a>
</li>
</ul>
<a class='moreLink' href='javascript:void(0);' onclick="toggle('hotelsLong', 'hotelsShort')">Less ...</a>
</div>
</div>
<div class='footerlist'>
<h1 class='green'>xtreme luxury</h1>
<div class='extremeLuxuriesShort'>
<ul>
<li>
<a href='/extreme_luxuries/44'>BUSHLAND PARK LODGE AND RETREAT</a>
</li>
<li>
<a href='/extreme_luxuries/42'>Whare Kea Lodge &amp; Chalet</a>
</li>
<li>
<a href='/extreme_luxuries/41'>Hapuku Lodge &amp; Tree Houses</a>
</li>
<li>
<a href='/extreme_luxuries/40'>Azur Luxury Villas</a>
</li>
</ul>
<a class='moreLink' href='javascript:void(0);' onclick="toggle('extremeLuxuriesShort', 'extremeLuxuriesLong')">More ...</a>
</div>
<div class='extremeLuxuriesLong' style='display:none;'>
<ul>
<li>
<a href='/extreme_luxuries/44'>BUSHLAND PARK LODGE AND RETREAT</a>
</li>
<li>
<a href='/extreme_luxuries/42'>Whare Kea Lodge &amp; Chalet</a>
</li>
<li>
<a href='/extreme_luxuries/41'>Hapuku Lodge &amp; Tree Houses</a>
</li>
<li>
<a href='/extreme_luxuries/40'>Azur Luxury Villas</a>
</li>
<li>
<a href='/extreme_luxuries/39'>The Lodge at Kauri Cliffs</a>
</li>
<li>
<a href='/extreme_luxuries/38'>Blanket Bay</a>
</li>
<li>
<a href='/extreme_luxuries/37'>Huka Lodge</a>
</li>
<li>
<a href='/extreme_luxuries/36'>Fiordland Lodge</a>
</li>
<li>
<a href='/extreme_luxuries/35'>Matakauri Lodge</a>
</li>
<li>
<a href='/extreme_luxuries/34'>Eagles Nest</a>
</li>
<li>
<a href='/extreme_luxuries/14'>Peppers on the Point - Lake Rotorua</a>
</li>
</ul>
<a class='moreLink' href='javascript:void(0);' onclick="toggle('extremeLuxuriesLong', 'extremeLuxuriesShort')">Less ...</a>
</div>
</div>
<div class='footerlist centeralign'>
<h1 class='blue'>
<a href="/about">about</a>
</h1>
<ul class='bottomfooter'>
<li class='green'>
<a href="/careers">careers</a>
</li>
<li class='blue'>
<a href="/contact">contact</a>
</li>
<li class='green'>
<a href="/media">media</a>
</li>
<li class='blue'>
<a href="/testimonials">testimonials</a>
</li>
</ul>
</div>
<div class='clear'></div>
<div class='clear'></div>
<p>
<span class='left'>Copyright 2014 l Xtreme Destinations</span>
<span class='right'>
designed by
<a class='footer-link' href='http://www.ting.in'>TING</a>
</span>
</p>
<div class='clear'></div>
</div>
<script>
  function toggle(tab1, tab2) {
    $("." + tab1).hide();
    $("." + tab2).show();
  }
</script>

</div>

<script>
  jQuery(document).ready(function($){
        
      dzsas_init("#astest ,#astest2 , #astest3",{
          settings_swipe: "on"
          ,design_arrowsize: "0"
          ,design_itemwidth: "160"
      });
      dzsas_init("#as2",{
          settings_mode: "onlyoneitem"
          ,design_arrowsize: "0"
          ,settings_swipe: "on"
          ,settings_swipeOnDesktopsToo: "off"
          ,settings_slideshow: "on"
          ,settings_slideshowTime: "300"
          ,settings_autoHeight:'on'
          ,design_itemwidth: "1200"
      });
      
      
      /*
       $("#as1").advancedscroller({
       settings_swipe: "on"
       ,design_arrowsize: "0"
       });
      $("#as3").advancedscroller({
          settings_swipe: "on"
          ,design_arrowsize: "0"
      });
       $("astest").advancedscroller({
       settings_swipe: "on"
       ,design_arrowsize: "0"
       });
      $("#as2").advancedscroller();
          */
      $( '#dl-menu' ).dlmenu();
      
      /*fancybox calling */
      
      $('.fancybox-media')
        .attr('rel', 'media-gallery')
        .fancybox({
        openEffect : 'none',
        closeEffect : 'none',
        prevEffect : 'none',
        nextEffect : 'none',
        arrows : false,
        helpers : {
        media : {},
        buttons : {}
        }
        }); 
      
  });
</script>